In [1]:
from fpl_helpers import *
import pandas as pd

In [2]:
elements_df, teams_df = get_tables()
global PLAYER_IDS
PLAYER_IDS = elements_df[['full_name', 'id']].set_index('full_name').to_dict()['id']
PLAYER_NAMES = {PLAYER_IDS[i]:i for i in list(PLAYER_IDS.keys()) }

In [3]:
def get_team(team_id, gw):
  url = f"https://fantasy.premierleague.com/api/entry/{team_id}/event/{gw}/picks/"
  r = requests.get(url)
  json = r.json()
  return json

team_ids = [i['element'] for i in get_team(715692, 25)['picks']]
team_names = [PLAYER_NAMES[i] for i in team_ids]

In [4]:
team_names

['Jordan Pickford',
 'Daniel Muñoz',
 'Gabriel dos Santos Magalhães',
 'Andrew Robertson',
 'Morgan Rogers',
 'Mohamed Salah',
 'Anthony Gordon',
 'Cole Palmer',
 'Enzo Fernández',
 'Chris Wood',
 'Ollie Watkins',
 'Hákon Valdimarsson',
 'Cody Gakpo',
 'Lewis Hall',
 'Taylor Harwood-Bellis']

In [5]:
compare_players(team_names[5:11], metrics=ATTACKER_METRICS, agg='mean')

In [6]:
forwards = elements_df[(elements_df['minutes']>0) & (elements_df['element_type']==4)].sort_values(by='total_points', ascending=False)[PLAYER_COLS].head(30)
forwards['difficulty'] = forwards['full_name'].apply(lambda x: difficulty_range(PLAYER_IDS[x], gwrange=1))
forwards['avg_difficulty'] = forwards['full_name'].apply(lambda x: np.mean(difficulty_range(PLAYER_IDS[x], gwrange=1)))
forwards['cost_per_point'] = forwards['now_cost']/forwards['total_points']
#forwards[:20].sort_values(by='difficulty')
forwards

,full_name,team,selected_by_percent,now_cost,value_season,total_points,expected_goals,goals_scored,expected_assists,assists,expected_goals_conceded,goals_conceded,difficulty,avg_difficulty,cost_per_point
602,Chris Wood,Nott'm Forest,44.8,71,23.0,163,10.31,18,0.38,2,24.93,25,"[4.0, 4.0, 4.0, 2.0, 3.0, 3.0]",3.333333,0.435583
475,Erling Haaland,Man City,27.4,147,10.5,154,18.30,19,1.66,3,35.00,35,"[5.0, 3.0, 4.0, 3.0, 2.0, 3.0]",3.333333,0.954545
553,Alexander Isak,Newcastle,57.9,95,16.2,154,14.12,17,3.11,5,26.77,31,"[3.0, 5.0, 2.0, 2.0, 2.0, 3.0]",2.833333,0.616883
743,Matheus Santos Carneiro Da Cunha,Wolves,9.3,68,19.4,132,5.76,12,4.12,4,35.31,47,"[3.0, 3.0, 2.0, 2.0, 2.0, 2.0]",2.333333,0.515152
64,Ollie Watkins,Aston Villa,20.4,89,14.7,131,12.24,12,1.52,5,25.10,32,"[4.0, 3.0, 3.0, 3.0, 3.0, 2.0]",3.000000,0.679389
266,Jean-Philippe Mateta,Crystal Palace,8.6,73,15.1,110,10.64,11,2.06,1,29.77,27,"[3.0, 3.0, 2.0, 2.0, 3.0, 4.0]",2.833333,0.663636
232,Nicolas Jackson,Chelsea,7.7,77,14.0,108,10.71,9,1.65,6,23.95,19,"[3.0, 2.0, 2.0, 4.0, 3.0, 3.0]",2.833333,0.712963
338,Raúl Jiménez,Fulham,8.5,56,18.8,105,9.14,9,1.65,3,19.62,22,"[3.0, 2.0, 3.0, 3.0, 4.0, 5.0]",3.333333,0.533333
143,Yoane Wissa,Brentford,12.3,63,16.7,105,11.46,10,1.25,3,29.93,30,"[2.0, 2.0, 3.0, 3.0, 4.0, 4.0]",3.000000,0.600000
363,Liam Delap,Ipswich,3.6,56,18.0,101,7.58,10,1.26,2,38.48,38,"[3.0, 3.0, 3.0, 3.0, 3.0, 2.0]",2.833333,0.554455
3,Kai Havertz,Arsenal,6.5,78,12.3,96,9.39,9,1.63,3,19.00,20,"[2.0, 4.0, 3.0, 4.0, 3.0, 3.0]",3.166667,0.812500
439,Cody Gakpo,Liverpool,17.5,76,12.4,94,5.40,8,2.71,4,12.34,14,"[4.0, 3.0, 2.0, 2.0, 3.0, 2.0]",2.666667,0.808511
416,Jamie Vardy,Leicester,5.3,54,17.0,92,8.41,7,2.14,4,42.30,46,"[2.0, 2.0, 4.0, 3.0, 4.0, 3.0]",3.000000,0.586957
767,Jørgen Strand Larsen,Wolves,1.1,52,16.2,84,6.14,7,0.55,2,33.64,44,"[3.0, 3.0, 2.0, 2.0, 2.0, 2.0]",2.333333,0.619048
653,Dominic Solanke-Mitchell,Spurs,4.5,73,11.4,83,8.43,7,1.08,5,30.07,29,"[2.0, 4.0, 3.0, 3.0, 4.0, 2.0]",3.000000,0.879518
189,Danny Welbeck,Brighton,6.1,55,15.1,83,6.08,6,0.93,4,25.88,23,"[2.0, 3.0, 3.0, 4.0, 3.0, 3.0]",3.000000,0.662651
303,Iliman Ndiaye,Everton,3.7,55,14.7,81,3.58,6,1.03,0,23.85,20,"[3.0, 3.0, 2.0, 2.0, 5.0, 4.0]",3.166667,0.679012
170,João Pedro Junqueira de Jesus,Brighton,11.1,55,14.7,81,4.36,5,2.18,5,17.61,17,"[2.0, 3.0, 3.0, 4.0, 3.0, 3.0]",3.000000,0.679012
107,Francisco Evanilson de Lima Barbosa,Bournemouth,0.6,56,13.9,78,6.46,5,1.30,4,16.85,18,"[2.0, 3.0, 3.0, 2.0, 2.0, 2.0]",2.333333,0.717949
291,Dominic Calvert-Lewin,Everton,1.2,54,10.9,59,6.05,3,0.63,2,23.22,17,"[3.0, 3.0, 2.0, 2.0, 5.0, 4.0]",3.166667,0.915254
337,Rodrigo Muniz Carvalho,Fulham,1.5,55,10.0,55,3.98,4,0.10,1,9.51,12,"[3.0, 2.0, 3.0, 3.0, 4.0, 5.0]",3.333333,1.000000
524,Joshua Zirkzee,Man Utd,1.5,65,8.3,54,3.46,3,0.99,2,18.55,16,"[3.0, 2.0, 4.0, 2.0, 4.0, 4.0]",3.166667,1.203704
44,Jhon Durán,Aston Villa,1.9,57,9.3,53,5.11,7,0.24,0,9.94,14,"[4.0, 3.0, 3.0, 3.0, 3.0, 2.0]",3.000000,1.075472
289,Norberto Bercique Gomes Betuncal,Everton,3.1,49,10.2,50,3.49,5,0.07,0,7.12,12,"[3.0, 3.0, 2.0, 2.0, 5.0, 4.0]",3.166667,0.980000
434,Darwin Núñez Ribeiro,Liverpool,2.1,70,7.0,49,4.04,4,0.35,2,12.45,16,"[4.0, 3.0, 2.0, 2.0, 3.0, 2.0]",2.666667,1.428571
513,Rasmus Højlund,Man Utd,1.0,69,6.7,46,2.35,2,0.79,1,21.01,21,"[3.0, 2.0, 4.0, 2.0, 4.0, 4.0]",3.166667,1.500000
618,Adam Armstrong,Southampton,0.7,51,8.8,45,3.28,2,0.56,3,33.47,35,"[3.0, 4.0, 5.0, 2.0, 3.0, 3.0]",3.333333,1.133333
704,Michail Antonio,West Ham,0.9,53,7.9,42,2.20,1,0.91,4,17.83,18,"[4.0, 2.0, 3.0, 3.0, 2.0, 3.0]",2.833333,1.261905
1,Gabriel Fernando de Jesus,Arsenal,1.2,65,6.5,42,3.05,3,0.52,2,5.82,5,"[2.0, 4.0, 3.0, 4.0, 3.0, 3.0]",3.166667,1.547619
613,Cameron Archer,Southampton,1.4,50,8.2,41,4.75,2,0.53,0,28.56,24,"[3.0, 4.0, 5.0, 2.0, 3.0, 3.0]",3.333333,1.219512

In [7]:
forward_scores = compare_players(forwards['full_name'], metrics=ATTACKER_METRICS, agg='mean')
forward_scores.data['Average Difficulty'] = forward_scores.data['Difficulty'].apply(lambda x: np.mean(x))
#forward_scores

In [8]:
preferred_low = ["Average Difficulty"]

In [9]:
weights = {
    'Average Difficulty':-2,
    'Total Points':1.5, 
    'Goals Scored': 2,
    'Expected Goals':3,
    'Assists':0,
    'Expected Assists':0, 
    'Expected Goal Involvements':1, 
    'Bonus':1.5,
    'Bps':1.5,
    'Influence':0, 
    'Creativity':0, 
    'Threat': 0,
    'Ict Index':0, 
    'Starts':10
}
df = calculate_weighted_score(forward_scores.data.drop('Difficulty', axis=1), weights, preferred_low)
df

In [10]:
midfielders = elements_df[(elements_df['minutes']>0) & (elements_df['element_type']==3)].sort_values(by='total_points', ascending=False)[PLAYER_COLS].head(30)
midfielders['difficulty'] = midfielders['full_name'].apply(lambda x: difficulty_range(PLAYER_IDS[x], gwrange=1))
midfielders['avg_difficulty'] = midfielders['full_name'].apply(lambda x: np.mean(difficulty_range(PLAYER_IDS[x], gwrange=1)))
midfielders['cost_per_point'] = midfielders['now_cost']/midfielders['total_points']
#forwards[:20].sort_values(by='difficulty')
#midfielders

In [14]:
mid_weights = {
    'Average Difficulty': -3,
    'Total Points':1.5, 
    'Goals Scored': 2,
    'Expected Goals':2,
    'Assists':1,
    'Expected Assists':1, 
    'Expected Goal Involvements':1, 
    'Bonus':1.5,
    'Bps':1.5,
    'Influence':0, 
    'Creativity':0, 
    'Threat': 0,
    'Ict Index':0, 
    'Starts':1
}

midfielder_scores = compare_players(midfielders['full_name'], metrics=ATTACKER_METRICS, agg='mean')
midfielder_scores.data['Average Difficulty'] = midfielder_scores.data['Difficulty'].apply(lambda x: np.mean(x))
df = calculate_weighted_score(midfielder_scores.data.drop('Difficulty', axis=1), mid_weights, preferred_low)
df

In [12]:
defenders = elements_df[(elements_df['minutes']>0) & (elements_df['element_type']==2)].sort_values(by='total_points', ascending=False)[PLAYER_COLS].head(30)
defenders['difficulty'] = defenders['full_name'].apply(lambda x: difficulty_range(PLAYER_IDS[x], gwrange=1))
defenders['avg_difficulty'] = defenders['full_name'].apply(lambda x: np.mean(difficulty_range(PLAYER_IDS[x], gwrange=1)))
defenders['cost_per_point'] = defenders['now_cost']/defenders['total_points']
defender_scores = compare_players(defenders['full_name'], metrics=DEFENDER_METRICS, agg='mean')
defender_scores.data['Average Difficulty'] = defender_scores.data['Difficulty'].apply(lambda x: np.mean(x))

In [13]:
def_weights ={
 'Average Difficulty': -2,
 'Total Points': 3,
 'Clean Sheets': 1,
 'Goals Conceded': -1,
 'Own Goals': -1,
 'Yellow Cards': -1,
 'Bonus': 1.5,
 'Bps': 1,
 'Influence': 1,
 'Creativity': 1,
 'Threat': 1,
 'Ict Index': 1,
 'Starts': 1,
 'Expected Goal Involvements': 1.5,
 'Expected Goals Conceded': -1.5
 }

df = calculate_weighted_score(defender_scores.data.drop('Difficulty', axis=1), def_weights)
df