In [1]:
from fpl_helpers import *

In [2]:
elements_df, teams_df = get_tables()
global PLAYER_IDS
PLAYER_IDS = elements_df[['full_name', 'id']].set_index('full_name').to_dict()['id']

In [10]:
forwards = elements_df[(elements_df['minutes']>0) & (elements_df['element_type']==4)].sort_values(by='total_points', ascending=False)[PLAYER_COLS].head(20)
forwards['difficulty'] = forwards['full_name'].apply(lambda x: difficulty_range(PLAYER_IDS[x], end_gameweek=3, gwrange=1))
forwards[:10]

,full_name,team,selected_by_percent,now_cost,value_season,total_points,expected_goals,goals_scored,expected_assists,assists,expected_goals_conceded,goals_conceded,difficulty
434,Erling Haaland,Man City,91.6,141,2.8,39,4.54,6,0.18,1,2.70,2,"[3.0, 2.0, 2.0]"
423,Julián Álvarez,Man City,11.6,66,4.2,28,1.94,2,0.59,3,2.77,2,"[3.0, 2.0, 2.0]"
145,Evan Ferguson,Brighton,6.3,59,4.2,25,2.56,4,0.11,0,5.50,4,"[4.0, 2.0, 3.0]"
534,Taiwo Awoniyi,Nott'm Forest,4.1,66,3.8,25,1.83,3,0.29,1,5.30,4,"[2.0, 5.0, 3.0]"
130,Yoane Wissa,Brentford,17.3,62,3.9,24,2.46,2,0.08,1,4.20,5,"[4.0, 2.0, 2.0]"
91,Dominic Solanke,Bournemouth,2.6,65,3.2,21,1.76,2,0.21,1,9.50,8,"[3.0, 3.0, 4.0]"
264,Odsonne Edouard,Crystal Palace,2.1,55,3.8,21,2.49,3,0.24,0,3.83,3,"[3.0, 2.0, 4.0]"
355,Darwin Núñez Ribeiro,Liverpool,9.9,73,2.9,21,1.73,2,0.12,2,1.55,0,"[2.0, 2.0, 3.0]"
12,Eddie Nketiah,Arsenal,7.1,56,3.4,19,1.45,2,0.16,1,1.31,2,"[2.0, 3.0, 2.0]"
642,Michail Antonio,West Ham,5.8,61,3.1,19,0.95,2,0.35,0,4.94,1,"[5.0, 4.0, 2.0]"

In [9]:
compare_players(forwards[1:10]['full_name'], metrics=ATTACKER_METRICS, agg='mean')

In [6]:
player_ids['James Maddison']

504