In [1]:
from fpl_helpers import *
import pandas as pd

In [2]:
elements_df, teams_df = get_tables()
global PLAYER_IDS
PLAYER_IDS = elements_df[['full_name', 'id']].set_index('full_name').to_dict()['id']
PLAYER_NAMES = {PLAYER_IDS[i]:i for i in list(PLAYER_IDS.keys()) }

In [3]:
#forwards = elements_df[(elements_df['minutes']>0) & (elements_df['element_type']==4)].sort_values(by='total_points', ascending=False)[PLAYER_COLS].head(20)
#forwards['difficulty'] = forwards['full_name'].apply(lambda x: np.mean(difficulty_range(PLAYER_IDS[x], gwrange=1)))
#forwards[:20].sort_values(by='difficulty')

In [4]:
def get_team(team_id, gw):
  url = f"https://fantasy.premierleague.com/api/entry/{team_id}/event/{gw}/picks/"
  r = requests.get(url)
  json = r.json()
  return json

team_ids = [i['element'] for i in get_team(3053203, 4)['picks']]
team_names = [PLAYER_NAMES[i] for i in team_ids]

In [5]:
compare_players(team_names[4:9], metrics=ATTACKER_METRICS, agg='mean')

In [23]:
compare_players(team_names[1:4] + [team_names[13]] + [team_names[14]], metrics=DEFENDER_METRICS, agg='mean')

In [30]:
compare_players(["Nicolas Jackson",team_names[12], "Odsonne Edouard"],  metrics=ATTACKER_METRICS, agg='mean')